.main {
  width: 80vw;
  max-width: 500px;
  height: 80vh;
  max-height: 700px;

  border-radius: 30px;

  background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent white */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  backdrop-filter: blur(6px); /* Adjust the blur strength as needed */
}

.title {
  text-align: center;  
  font-size: 1.6rem;
  background: linear-gradient(to right, rgb(255, 251, 128), orange, rgb(255, 79, 79));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.card {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  /* background-color: rgba(255, 255, 255, 0.00); 
  backdrop-filter: blur(10px);  */
  border-radius: 20px;
  gap: 50px;
  width: 60%;
}



.textForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.textForm input{
  height: 80px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.textForm button {
  height: 30px;
  width: 60px;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 14px;
}

.codeForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.codeForm input{
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.codeForm button {
  height: 30px;
  width: 60px;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 14px;
}